div.diuno {
  display: flex;
  background-color: rgb(234, 253, 139);
      color: black(255, 255, 255);
      padding: 20px;
      flex: 1 1 20px;
      text-align: center;
      border-radius: 100px;
      justify-content: space-around;
    
}

/* div.didos{
  background-color: rgb(255, 0, 0);
      color: black(255, 255, 255);
      padding: 20px;
      flex: 1 1 200px;
      text-align: center;
      border-radius: 50px;
      transition: transform 0.3s ease;
}

div.ditre{
  background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      padding: 20px;
      flex: 1 1 200px;
      text-align: center;
      border-radius: 50px;
      transition: transform 0.3s ease;
} */


body{
  display: flex;
   flex-direction: column;
background-color: orange;

    color: black;
}

footer{
    display: FLEX;
    align-content: right;
    flex-direction: column;

text-align: end;
background-color: rgb(3, 162, 162);
}

.titu{
  border-color: black;
border-style: outset;
   background-color: rgb(3, 162, 162);
 border-width: 5px;
      color: rgb(255, 255, 255);
      padding: 10px;
      flex: 1 1 90px;
      text-align: center;
      border-radius: 50px;
      transition: transform 0.3s ease;
        text-shadow: 4px 4px 10px rgb(0, 0, 0);


}

.pie{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
     background-color: rgb(158, 107, 5);
      padding: 20px;
      gap: 20px;
      border-radius: 70PX;
      text-align: center;


}
h3{

    display: flex;
          

    border-color: black;
    border-style: outset;
    background-color: rgb(3, 162, 162);
      color: rgb(255, 255, 255);
      padding: 10px;
      flex: 1 1 200px;
      border-radius: 50px;
      transition: transform 0.3s ease;
    
    
}

  .contenedor {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
     background-color: rgb(158, 107, 5);
      padding: 20px;
      gap: 20px;
      border-radius: 70PX;
      text-align: center;
    }

      .contenedor2 {
       
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
     background-color: rgb(158, 107, 5);
      padding: 20px;
      gap: 20px;
      border-radius: 70PX;
       text-align: center;
    }

      .caja {
   
      background-color: rgb(3, 162, 162);
      color: white;
      padding: 20px;
      flex: 1 1 200px;
      text-align: center;
      border-radius: 10px;
      transition: transform 0.3s ease;
    }
 .caja:hover {
      transform: scale(1.05);
    }
    
 
    .linki{

    background-color: rgb(3, 162, 162);
      color: white;
      padding: 20px;
      flex: 1 1 200px;
      text-align: center;
      border-radius: 10px;
      transition: transform 0.3s ease;
    }
    .linki:hover{
 transform: scale(1.05);

    }
    h2{

      text-decoration: underline;
    }